*~
*#
.idea/
.vscode/
codestyles/
keymaps/
_linux/
templates/
venv/
tmp/
__pycache__
.gitignore
colors.scheme.xml
debugger.xml
editor.rich.copy.xml
editor.xml
filetypes.xml
github_settings.xml
vcs.xml
vim_settings.xml
settings.json
.directory
*synctex.gz
*.aux
*.log
*.toc
